body {
    background-color: rgb(20, 20, 20);
    height: 70vh;
    margin: 0rem;
    overflow-x: hidden; 
    overflow-y: auto;
    scroll-behavior: smooth;
  }

  body::-webkit-scrollbar {
    width: 0em;
    background: transparent;
  }
  body::-webkit-scrollbar-thumb {
    background: transparent;
  }
  
  body::-webkit-scrollbar-track-piece
  {
     display:none;
  }

  @keyframes rotate {
    from {
      rotate: 0deg;
    }
    
    50% {
      scale: 1 1.5;
    }
    
    to {
      rotate: 360deg;
    }
  }
  
  #blob {
    background-color: white;
    height: 28vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, rgb(214, 40, 40), purple);
    animation: rotate 20s infinite;
    opacity: 0.8;
  }
  
  #blur {
    height: 250%;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(12vmax);
  }

  h1 {
    font-family: 'Space Mono', monospace;
    font-size: clamp(3rem, 10vw, 10rem);
    color: white;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    margin: 0rem;
    position: absolute;
    left: 50%;
    top: 40%;
    translate: -50% -50%;
    z-index: 3;
  }
  #enter {
    word-wrap: break-word;
    width: max-content;
    font-family: 'Space Mono', monospace;
    font-size: clamp(1rem, 3vw, 3rem);
    color: white;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    margin: 0rem;
    position: absolute;
    left: 50%;
    top: 80%;
    translate: -50% -50%;
    z-index: 3;
  }

  #hobby > li{
    max-width: 70vmax;
    word-wrap: normal;
    width: max-content;
    font-family: 'Space Mono', monospace;
    font-size: clamp(1rem, 3vw, 3rem);
    color: white;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    margin-top: 30rem;
    position: absolute;
    left: 50%;
    top: 120%;
    translate: -50% -50%;
    z-index: 3;
    list-style: none;
  }

  #hobby > li > p {
    margin: 10rem;
  }

  a:hover, a:focus, a:active, a:visited, a:link{
    text-decoration: none;
  }
  

  /* -- Links -- */
  
  #links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    padding: 1rem;
  }
  
  .meta-link {
    display: inline-block;
    align-items: center;
    gap: 0.5rem;
  }
  
  .meta-link > :is(span, a) {
    font-family: "Rubik", sans-serif;
    color: white;
    transition: 0.4s;
  }
  
  .meta-link > .label {
    width: 100px; 
    text-align: left;
  }
  
  .meta-link > a {
    text-decoration: none;
    outline: none;
  }
  
  .meta-link > a:is(:hover, :focus) {
    color: rgba(255, 255, 255, 0.6);  
  }
  
  .meta-link > a > i {
    height: 1rem;
    line-height: 1rem;
  }


  